@{
    ViewBag.Title = "Games";
}

<hgroup class="title">
    <h1>Games.</h1>
    <h2>All our game offers</h2>
</hgroup>

<section class="contact">
    <header>
        <h2>Free to Play:</h2>
    </header>
    <p><b>Counter Strike: Global Offense</b> - Free<p /> <br />
    <p> <a href="~/Additional/Cuphead.cshtml"> <img src="~/Scripts/Images/CSGO.jpg" width="280" height="200" /> </a> </p> <br />

    <p><b>Fortnite Battle Royale</b> - Free</p> <br />
    <p> <a href="~/Additional/Limbo.cshtml"> <img src="~/Scripts/Images/Fortnite BR.jpg" width="270" height="200" /> </a> </p> <br />

    <p><b>DOTA 2</b> - Free</p> <br />
    <p> <a href="~/Additional/Little Nightmares.cshtml"> <img src="~/Scripts/Images/DOTA 2.jpg" width="280" height="200" /> </a> </p> <br />

</section>


<section class="contact">
    <header>
        <h1>Games on Sale:</h1>
    </header>
    <p><b>Super Mario World</b> - R35.00<p /> <br />
    <p> <a href="~/Additional/Super Mario World.cshtml"> <img src="~/Scripts/Images/Super Mario World.jpg" class="center" ; width="220" height="220" /> </a> </p> <br />

    <p><b>Megaman X</b> - R30.00</p> <br />
    <p> <a href="~/Additional/Megaman X.cshtml"> <img src="~/Scripts/Images/Megaman X.jpg" class="center" ; width="210" height="200" /> </a> </p> <br />

    <p><b>The Legend of Zelda</b> - R20.00</p> <br />
    <p>
        <a href="~/Additional/Legend of Zelda.cshtml"> <img src="~/Scripts/Images/Legend of Zelda.jpg" class="center" ; width="230" height="150" /> </a>
    </p> <br />
</section>


<section class="contact">
    <header>
        <h1>Massive Discounts:</h1>
    </header>
    <p><b>Player Unknown Battlegrounds</b> - R95.00<p /> <br />
    <p> <a href="~/Additional/Super Mario World.cshtml"> <img src="~/Scripts/Images/PUBG.jpg" class="center" ; width="220" height="140" /> </a> </p> <br />

    <p><b>Far Cry 3</b> - R90.00</p> <br />
    <p> <a href="~/Additional/Megaman X.cshtml"> <img src="~/Scripts/Images/Far Cry 3.jpg" class="center" ; width="140" height="200" /> </a> </p> <br />

    <p><b>Call of Duty</b> - R110.00</p> <br />
    <p>
        <a href="~/Additional/Legend of Zelda.cshtml"> <img src="~/Scripts/Images/Call Of Duty.jpg" class="center" ; width="150" height="210" /> </a>
    </p> <br />
</section>