
@{
    ViewBag.Title = "ContactPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body{
        text-align:center;
        background-image: url(../../Content/background/lightorbwhite.jpg);
        background-attachment:fixed;
        background-size:cover;
    }
    
</style>

<h1>Contact Us</h1> <br />

<h2> ---------- For Customers ----------</h2>
<h4><b>If you are having problems with purchases, the site, your log in or even just a bit of feedback feel free to email us at :</b></h4>
<p><b>E-mail: Johnson619@gmail.com</b></p>
<p><b>Phone: 086 951 76422</b></p> <br /><br />

<h2> ---------- For Developers ----------</h2>
<h4><b> Here at RiotGames we thrive to give new developers, like yourself, an oppotunity to get some eposure and recognition for your work</b></h4>
<p><b>If you are a developer and want us at RiotGames to Promote you, feel free to E-mail us, Provided that you have the right documentations</b></p>
<p><b>Documentations should include: a histiry of finished games that you have done, documents showing what gaming companies you have worked with before and lastly your phone number.</b></p>
<p><b>E-mail: RiotDevops619@gmailcom</b></p>
<p><b>Phone: 086 456 1536</b></p>

