
@{
    ViewBag.Title = "ContactPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body{
        text-align:center;
    }
</style>

<h2>Contact Us</h2>

<h3> ---------- For Customers ----------</h3>
<h4>If you are having problems with purchases, the site, your log in or even just a bit of feedback feel free to email us at :</h4>
<p>E-mail: Johnson619@gmail.com</p>
<p>Phone: 086 951 76422</p>

<h3> ---------- For Developers ----------</h3>
<h4> Here at RiotGames we thrive to give new developers, like yourself, an oppotunity to get some eposure and recognition for your work</h4>
<p>If you are a developer and want us at RiotGames to Promote you, feel free to E-mail us, Provided that you have the right documentations</p>
<p>Documentations should include: a histiry of finished games that you have done, documents showing what gaming companies you have worked with before and lastly your phone number.</p>
<p>E-mail: RiotDevops619@gmailcom</p>
<p>Phone: 086 456 1536</p>

