<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://limitbreakers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>limitbreakers.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LimitBreakers</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LimitBreakers</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:limitbreakers.database.windows.net,1433;Initial Catalog=lbDatabase;User ID=Nevermore46@limitbreakers.database.windows.net;Password=Axdwqzces1" Name="Data Source=tcp:limitbreakers.database.windows.net,1433;Initial Catalog=lbDatabase;User Id=Nevermore46@limitbreakers.database.windows.net;Password=Axdwqzces1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Limit_Breakers_Repo.Models.ApplicationDbContext, Limit Breakers Repo" MigrationConfiguration="Limit_Breakers_Repo.Migrations.Configuration, Limit Breakers Repo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:limitbreakers.database.windows.net,1433;Initial Catalog=lbDatabase;User Id=Nevermore46@limitbreakers.database.windows.net;Password=Axdwqzces1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>